projects/PlanetXProc/src/schemas/orbital-promoted.rnc

default namespace = "http://www.tei-c.org/ns/1.0"
namespace xi = "http://www.w3.org/2001/XInclude"

# Started using Trang, worked by hand

start = element body { _div_+ }

_div_ =
  element div {
    (_div_
     | _eg_
     | element head { text }
     | element p { _inline_ }
     | element list {
         element item { _inline_ }+
       }
     )*
  }

_eg_ = element eg { _xinclude_ }

_xinclude_ =
  element xi:include {
    attribute parse { "text" }?,
    attribute href { xsd:anyURI }
  }

_inline_ = ( text | _code_ | _emph_ | _hi_ | _ref_ )+

_emph_ =
  element emph {
    attribute rend { text },
    _inline_
  }

_hi_ =
  element hi {
    attribute rend { text },
    _inline_
  }

_code_ = element code { _inline_ }

_ref_ =
  element ref {
    attribute target { xsd:anyURI },
    _inline_
  }

